<div class="container-fluid">
	<%=render 'layouts/header'%>
	<div class="row container-fluid">
		<%=render 'requests/perfilPublico', locals: {variable: 1,contrato:1}%>
		<div class="col container-fluid card">
			<div class="container card-header">	  	
				<nav class="navbar navbar-light bg-faded">
					<%=render 'frame/pestanasPrincipales', locals: {variable5: "active"}%>	   
				</nav>	 
			</div>
            <%= render "contracts/detalles", contract: @contract, locals: {variable: "privado"}  %>
		</div>
	</div>
</div>
    
