<div class="container-fluid">
  <%=render 'layouts/header'%>
<div class="row container-fluid">
  <%=render 'layouts/basicInfo'%>

  <div class="col container-fluid card">
	    <div class="container card-header">
		  	<nav class="navbar navbar-light bg-faded">
		  		<%=render 'pestanasPrincipales', locals: {variable6: "active"}%>
			</nav>	 
	  	</div>

	  <div class="container card-body">
	  
	  	<table class="table table-hover">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Demandante</th>
		      <th>Oferente</th>
		      <th>Servicio</th>
		      <th>Costo del Servicio</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>Usu Demandante/td>
		      <td>Usu Oferente</td>
		      <td>[Nom Servicio]</td>
		      <td>$$$$$</td>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td>Usu Demandante/td>
		      <td>Usu Oferente</td>
		      <td>[Nom Servicio]</td>
		      <td>$$$$$</td>
		    </tr>
		    <tr>
		      <th scope="row">3</th>
		      <td>Usu Demandante/td>
		      <td>Usu Oferente</td>
		      <td>[Nom Servicio]</td>
		      <td>$$$$$</td>
		    </tr>
		  
		    </tr>
		  </tbody>
		</table> 

	  </div>
	</div>

</div>

</div>