<div class="container-fluid">
  <%=render 'layouts/header'%>
<div class="row container-fluid">
  <%=render 'layouts/basicInfo'%>
  <div class="col container-fluid card">
	    <div class="container card-header">	  	
		  	<nav class="navbar navbar-light bg-faded">
		  		<%=render 'layouts/pestanasPrincipales', locals: {variable5: "active"}%>	   
			</nav>	 
	    </div>

	<div class="container card-body">
	  
	  <ul class="list-unstyled">
	  <li class="media">
	    <img width="250" height="280" class="d-flex mr-3" src="../../../cate3.jpg" alt="Generic placeholder image">
	    <div class="media-body">
	      <h2 class="mt-0 mb-1">[Nombre de la Oferta</h2>
	      [Descripcion de la Oferta subida por el Usuario]
	    </div>
	  </li>

	  <li class="media">
	    <img width="250" height="280" class="d-flex mr-3" src="../../../cate11.jpg" alt="Generic placeholder image">
	    <div class="media-body">
	      <h2 class="mt-0 mb-1">[Nombre de la Oferta</h2>
	      [Descripcion de la Oferta subida por el Usuario]
	    </div>
	  </li>

	  <li class="media">
	    <img width="250" height="280" class="d-flex mr-3" src="../../../cate18.jpg" alt="Generic placeholder image">
	    <div class="media-body">
	      <h2 class="mt-0 mb-1">[Nombre de la Oferta</h2>
	      [Descripcion de la Oferta subida por el Usuario]
	    </div>
	  </li>

	  <li class="media">
	    <img width="250" height="280" class="d-flex mr-3" src="../../../cate2.jpg" alt="Generic placeholder image">
	    <div class="media-body">
	      <h2 class="mt-0 mb-1">[Nombre de la Oferta</h2>
	      [Descripcion de la Oferta subida por el Usuario]
	    </div>
	  </li>

	  <li class="media">
	    <img width="250" height="280" class="d-flex mr-3" src="../../../cate7.jpg" alt="Generic placeholder image">
	    <div class="media-body">
	      <h2 class="mt-0 mb-1">[Nombre de la Oferta</h2>
	      [Descripcion de la Oferta subida por el Usuario]
	    </div>
	  </li>
	  
	  </ul>


	</div>

</div>

</div>