<div class="container-fluid">
  <div class="container-fluid sticky-top">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><h2><strong>TimeIt</strong></h2></a>
        <%= form_for :term, url: offers_path, method: :get do |form| %>
                  <p>
                    <%= text_field_tag :term, params[:term] %>
                    <%= submit_tag "Search", name: nil %>
                  </p>
        <% end %>   
    </nav>
  </div>
</div>

