
  <div class="container-fluid sticky-top">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><h2><strong>TimeIt</strong></h2></a>
        <%= form_for :term, url: offers_path, method: :get do |form| %>

            <form class="form-inline">
              <%= text_field_tag :term, params[:term], placeholder: "Busqueda..." %>            
              <%= submit_tag "Busqueda", class: "btn btn-outline-info my-2 my-sm-0", type: "submit" %>
            </form>      

        <% end %>   
    </nav>
  </div>


